<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Mission</title>
</head>
<body>
  <h1>Show Mission</h1>

  <h4>Mission: <%= mission.name %> </h4>
  <p>Launch Date: <%= mission.launchDate %> </p>
  <p>Operator: <%= mission.operator %> </p>
  <p>Mission Type: <%= mission.missionType %> </p>
  <img src="<%= mission.img %>" alt="<%= mission.name %>">
    
</body>
</html>